{% extends './layout.html' %}


{% block title %}Inicio{% endblock %}


{% block body %}

{% if g.name %}

<div class="container">
    <a id="scroll-up" class="scroll-up" href="#">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path fill="rgba(255,255,255,1)" d="M11.9997 10.8284L7.04996 15.7782L5.63574 14.364L11.9997 8L18.3637 14.364L16.9495 15.7782L11.9997 10.8284Z">
            </path>
        </svg>
    </a>
    <div class="leftSide">
        <!-- Header -->
        <div class="header">
            <div class="title">
                <h5 id="userName"><b>{{ g.name }}</b></h5>
            </div>
            <ul class="nav_icons" style="margin-top: 5px;">
                <li><ion-icon name="ellipsis-vertical" class="dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"></ion-icon>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('close_session') }}"
                                style="font-size:medium;">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Search Chat -->
        <div class="search_chat">
            <div>
                <input type="text" placeholder="Crea una nueva sala" id="room" maxlength="35"
                    onkeyup="statusColorIconChannel(event)">

                <ion-icon id="icon-room" class="btn btn-primary IconChannel" onclick="createChannel()"
                    name="chatbubbles-outline"></ion-icon>
            </div>
        </div>
        <!-- CHAT LIST -->
        <div class="chatlist" id="chatlist">

        </div>
    </div>
    <div class="rightSide" id="rightSide">




    </div>
</div>

{% else %}
<br><br><br>
<form class="title-screen" action="/" method="POST">
    <img src="{{ url_for('static', filename='images/whatsapp2.jpg') }}" alt="" style="max-width: 300px;">
    <h3 id="title-start">¿Eres nuevo por acá?</h3>
    <input type="text" placeholder="Escribe tú nombre" name="userName" id="userName" style="color: #ffff;"
        maxlength="15" required>
    <button type="POST" class="btn btn-primary my-gradient-button" id="btnSaveUserName">Guardar</button>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        localStorage.clear();
    });
</script>
{% endif %}

{% endblock %}